body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f7ede2;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  color: #f28482;
  margin-left: 15px;
  padding: 10px;
  
}

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #f28482;
  margin-left: 25px;
  padding: 10px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #f28482;
  margin-left: 25px;
  padding: 10px;
}

p {
  font-size: 16px;
  margin-left: 30px;
  color: #84a59d;
  padding: 10px;
}

footer {
  padding-top: 30rem;
}

footer p {
  font-size: 8px;
}

ul {
  margin-left: 30px;
}

ul li {
  list-style-type: square;
  margin-left: 30px;
  color: #84a59d;
  padding: 5px;
}

ol {
  margin-left: 30px;
}

ol .topTenItem {
  list-style: decimal;
  margin-left: 30px;
  color: #84a59d;
  padding: 5px;
}
